{
  "plugins": ["stylelint-scss", "stylelint-a11y"],
  "extends": "stylelint-config-sass-guidelines",
  "rules": {
    "max-nesting-depth": 3,
    "selector-no-qualifying-type": [true, { ignore: ["class"] }],
    "selector-max-compound-selectors": 4,
    "selector-list-comma-newline-after": null,
    "order/properties-alphabetical-order": null,
    "a11y/media-prefers-reduced-motion": true,
    "a11y/no-outline-none": true,
    "a11y/selector-pseudo-class-focus": true,
    "a11y/content-property-no-static-value": [true, { "severity": "warning" }],
    "a11y/font-size-is-readable": [true, { "severity": "warning" }],
    "a11y/no-display-none": [true, { "severity": "warning" }],
    "a11y/no-spread-text": [true, { "severity": "warning" }],
    "a11y/no-obsolete-attribute": [true, { "severity": "warning" }],
    "a11y/no-text-align-justify": [true, { "severity": "warning" }]
  }
}
