$font-family-main: Arial, 'Helvetica Neue', Helvetica, sans-serif;

$color-dark: #444;
$color-green: #6cb543;
$color-red: #ea463f;
$color-blue: #007eff;

$background-color-main: #fff;
$background-color-secondary: #faf8f5;

$text-color-main: #000;
$text-color-secondary: #989898;

$disable-color-main: #eee;
$disable-color-secondary: #e3e3e3;

$space-small: 4px;
$space-middle: 8px;
$space-big: 8px;
