.fieldset {
  margin: $space-middle 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  legend {
    display: block;
    font-family: $font-family-main;
    font-size: 18px;
    color: $text-color-main;
    padding: 5px 0;
  }
}
