.radio-button {
  position: relative;
  padding: 0 0 0 35px;
  margin: 4px 18px 4px 0;
  min-height: 30px;
  display: inline-block;

  label {
    cursor: pointer;
    padding: 7px 0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 14px;
      height: 14px;
      background: #2684ff;
      border-radius: 8px;
      margin: 7px;
      z-index: 10;
      cursor: pointer;
      opacity: 0;
    }

    @media (prefers-reduced-motion: reduce) {
      &::before {
        transition: none;
      }
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      top: 2px;
      width: 28px;
      height: 28px;
      background: hsl(0, 0%, 98%);
      border: 1px solid hsl(0, 0%, 80%);
      border-radius: 15px;
      z-index: 1;
      box-sizing: border-box;
    }

    &:hover::after {
      border-color: hsl(0, 0%, 70%);
    }

    &:focus::after {
      border-color: hsl(0, 0%, 70%);
    }

    @media (prefers-reduced-motion: reduce) {
      &::after {
        transition: none;
      }
    }
  }

  [type='radio'] {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;

    &:checked + label::before {
      opacity: 1;
    }
  }
}
