.fieldset.register-panel {
  background: #fafafa;
  border-radius: 6px;
  padding: $space-middle;

  legend {
    margin: 0 -$space-middle;
    padding: $space-middle;
    background: #fafafa;
    border-radius: 6px 6px 0 0;
    width: 100%;
  }
}

.form-switch {
  margin: $space-extrabig 0;
}
