.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 2px solid rgba(0, 0, 0, 0.4);
  border-top-color: rgba(255, 255, 255, 0.4);
  animation: spin 1s infinite linear;
  box-sizing: border-box;

  &.inverted {
    border-color: rgba(255, 255, 255, 0.4);
    border-top-color: rgba(0, 0, 0, 0.4);
  }
}

@media (prefers-reduced-motion: reduce) {
  .loader {
    animation: none;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
