.navigation ul {
  @include clearfix;

  a {
    display: block;
    padding: $space-extrabig $space-big;
    color: $color-header-link;

    &:hover, &:focus {
      text-decoration: none;
      color: darken($color-header-link, 20%);
    }

    &.active {
      color: $color-header-active-link;
    }
  }

  li {
    display: block;
    float: left;

    &:first-child a {
      padding-left: 0;
    }
  }
}
